<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Serve para deixar o site na escala correta -->
    <title>LOCADORA MATEUS</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="cabecalho">
        <p class="professor"> Dev Mateus Rocha </p>
        <h1>LOCADORA MATEUS</h1>
        <p>Sistema didático de gerenciamento de filmes</p>
    </header>
    <main class="conteudo">
        <h2 class="titulo-menu">Menu principal</h2>
        <section class="menu">
            <a class="botao-menu" href="/filmes/novo">Cadastrar filmes</a>
            <a class="botao-menu" href="#">Cadastrar cliente</a>
            <a class="botao-menu" href="/filmes">Lista filmes</a>
            <a class="botao-menu" href="#">Lista clientes</a>
            <a class="botao-menu" href="#">Alugar filmes</a>
            <a class="botao-menu" href="#">Devolver filmes</a>
            <a class="botao-menu" href="#">Listar locações</a>


        </section>
    </main>
    <footer class="rodape">
        <p>Projeto de Programação Orientada a Objetos</p>
    </footer>
</body>
</html>